body{
    margin: 0px;
    position: fixed;
}

.background{
    background-size: 100%;
    background-repeat: no-repeat;
    width: 85%;
    position: relative;
    margin: auto;
    overflow: hidden;
}

#bckgroundImg{
    width: 100%;
}

#start{
    font-size: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%,-50%);
    width: 75%;
    
}

#info{
    font-size: 150%;
    position:absolute;
    top:70%;
    left: 50%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 75%;
}

#information{
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 85%;
}

#eventDetails{
    font-size: 125%;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 50%;
    left: 40%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 65%;
}

#label{
    font-size: 350%;
    font-family: 'Luminari', fantasy, 'Courier New', Courier, monospace;
    position: absolute;
    top: 10%;
    left: 50%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
}

#backToMain{
    font-size: 150%;
    position:absolute;
    top: 90%;
    left: 20%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 30%;
}

#backToDifficulty{
    font-size: 150%;
    position:absolute;
    top: 90%;
    left: 20%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 30%;
}

#backToChar{
    font-size: 150%;
    position:absolute;
    top: 90%;
    left: 20%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 30%;
}

#howTo{
    font-size: 150%;
    position:absolute;
    top: 90%;
    left: 80%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 30%;
}

#easy{
    font-size: 200%;
    position: absolute;
    top: 40%;
    left: 15%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 20%;
    height: 75%;
}

#regular{
    font-size: 200%;
    position: absolute;
    top: 40%;
    left: 38%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 20%;
    height: 75%;
}

#hard{
    font-size: 200%;
    position: absolute;
    top: 40%;
    left: 61%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 20%;
    height: 75%;
}

#insane{
    font-size: 200%;
    position: absolute;
    top: 40%;
    left: 84%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 20%;
    height: 75%;
}

#story{
    font-size: 200%;
    position: absolute;
    top: 90%;
    left: 70%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 50%;
}

.button{
    border:5px solid #311255;
    background-color: #c5a8e7a5;
    color: #311255;
    padding: 1%;
}

button:hover{
    border: 5px solid #541132;
    background-color: #e8a9c8bf;
    color:#541132;
    padding: 1%;
}

.buttonTwo{
    border: 5px solid #1d5411;
    background-color: #b3e8a9bf;
    color:#155411;
    padding: 1%;
}

#ren{
    font-size: 150%;
    position: absolute;
    top: 40%;
    left: 15%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 20%;
    height: auto;
}

#luka{
    font-size: 150%;
    position: absolute;
    top: 40%;
    left: 38%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 20%;
    height: auto;
}

#ollie{
    font-size: 150%;
    position: absolute;
    top: 40%;
    left: 61%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 20%;
    height: auto;
}

#caidyn{
    font-size: 150%;
    position: absolute;
    top: 40%;
    left: 84%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 20%;
    height: auto;
}

#enemyIcon{
    position: absolute;
    top: 60%;
    left: 79%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
}

#confirmChar{
    font-size: 150%;
    position: absolute;
    top: 90%;
    left: 70%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 50%;
}

#nextButton{
    font-size: 150%;
    position: absolute;
    top: 90%;
    left: 30%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 50%;
}

#display{
    position: absolute;
    width: 25%;
    height: auto;
    top: 30%;
    left: 50%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
}

#abilityHead{
    position: absolute;
    color: #311255;
    font-family: 'Luminari', fantasy, 'Courier New', Courier, monospace;
    font-size: 200%;
    left: 50%;
    top: 55%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);

}

.ability{
    font-family: 'Luminari', fantasy, 'Courier New', Courier, monospace;
    font-size: 150%;
    background-color: #c5a8e7a5;
    border:5px solid #311255;
    padding: 0.5%;
}

#attack{
    position: absolute;
    font-family: 'Luminari', fantasy, 'Courier New', Courier, monospace;
    left: 25%;
    top: 65%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
}

#special{
    position: absolute;
    font-family: 'Luminari', fantasy, 'Courier New', Courier, monospace;
    left: 75%;
    top: 65%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
}

#iconLabel{
    position: absolute;
}

#mapIcon{
    position: absolute;
    width: 11%;
    height: auto;
}

#eventTitle{
    font-size: 400%;
    font-family: 'Luminari', fantasy, 'Courier New', Courier, monospace;
    position: absolute;
    top: 10%;
    left: 50%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
}

#enemyBattle{
    position: absolute;
    height: auto;
    width: 25%;
    top: 46%;
    left: 63%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%,-50%);
}

#renBattle{
    position: absolute;
    height: auto;
    width: 17%;
    top: 70%;
    left: 73%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%,-50%);
}

#lukaBattle{
    position: absolute;
    height: auto;
    width: 17%;
    top: 70%;
    left: 84%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%,-50%);
}