body{
    background-image: url(startScreen.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#start{
    font-size: 3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%,-50%);
    width: 75%;
    
}

#info{
    font-size: 3vw;
    position:absolute;
    top:70%;
    left: 50%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 75%;
}

#information{
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 85%;
}

#label{
    font-size: 5vw;
    font-family: 'Luminari', fantasy, 'Courier New', Courier, monospace;
    position: absolute;
    top: 10%;
    left: 50%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
}

#backToMain{
    font-size: 2vw;
    position:absolute;
    top: 90%;
    left: 20%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 30%;
}

#howTo{
    font-size: 2vw;
    position:absolute;
    top: 90%;
    left: 80%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 30%;
}

#easy{
    font-size: 2vw;
    position: absolute;
    top: 40%;
    left: 15%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 20%;
    height: 75%;
}

#regular{
    font-size: 2vw;
    position: absolute;
    top: 40%;
    left: 38%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 20%;
    height: 75%;
}

#hard{
    font-size: 2vw;
    position: absolute;
    top: 40%;
    left: 61%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 20%;
    height: 75%;
}

#insane{
    font-size: 2vw;
    position: absolute;
    top: 40%;
    left: 84%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 20%;
    height: 75%;
}

#story{
    font-size: 2vw;
    position: absolute;
    top: 90%;
    left: 70%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 50%;
}

.button{
    border:5px solid #311255;
    background-color: #c5a8e7a5;
    color: #311255;
    padding: 1%;
}

button:hover{
    border: 5px solid #541132;
    background-color: #e8a9c8bf;
    color:#541132;
    padding: 1%;
}