body{
    margin: 0px;
    height: 100%;
}

#background{
    background-image: url(startScreen.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
    margin: 0px;
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

#start{
    font-size: 3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%,-50%);
    width: 75%;
    
}

#info{
    font-size: 3vw;
    position:absolute;
    top:70%;
    left: 50%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
    width: 75%;
}

#information{
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
}

#label{
    font-size: 60px;
    font-family: 'Luminari', fantasy, 'Courier New', Courier, monospace;
    position: absolute;
    top: 10%;
    left: 50%;
    -ms-transform: (translate(-50%, -50%));
    transform: translate(-50%, -50%);
}

.button{
    border:5px solid #311255;
    background-color: #C5A8E7;
    color: #311255;
    padding: 2%;
}

button:hover{
    border: 5px solid #541132;
    background-color: #E8A9C8;
    color:#541132;
    padding: 2%;
}